.highlight {
  outline: 1px solid #a85dff;
  box-shadow: 0 0 2px 4px rgba(168, 93, 255, 0.4);
  z-index: 1;
}

.highlight.highlight-text {
  outline: none;
  box-shadow: none;
  color: #a85dff;
  transition: color 0.2s;
}
