html {
  --activityBar-background: #141820;
  --activityBar-foreground: #fff;
  --activityBarBadge-background: #4B76CF;
  --activityBarBadge-foreground: #ffffff;
  --diffEditor-insertedTextBackground: #66f0c213;
  --dropdown-background: #141820;
  --editor-background: #212836;
  --editor-foreground: #97a7c8;
  --editor-lineHighlightBackground: #99bbff0a;
  --editor-selectionBackground: #e6eeff21;
  --editor-wordHighlightBackground: #343F56;
  --editorCursor-foreground: #f30f4c;
  --editorGroup-border: #1A1F2E;
  --editorGroupHeader-tabsBackground: #1C212E;
  --editorGutter-addedBackground: #308E68;
  --editorGutter-modifiedBackground: #938464;
  --editorIndentGuide-background: #97a7c826;
  --editorLineNumber-foreground: #3D4D67;
  --editorSuggestWidget-background: #141820;
  --editorWhitespace-foreground: #3b3a32;
  --editorWidget-background: #141820;
  --foreground: #818CA6;
  --gitDecoration-ignoredResourceForeground: #3D4D67;
  --gitDecoration-modifiedResourceForeground: #E3C18A;
  --gitDecoration-untrackedResourceForeground: #70CA8E;
  --input-background: #141820;
  --input-border: #1A1F2E;
  --input-foreground: #818CA6;
  --input-placeholderForeground: #3D4D67;
  --list-activeSelectionBackground: #4B76CF;
  --list-activeSelectionForeground: #ffffff;
  --list-focusBackground: #3D4D67;
  --list-hoverBackground: #141820;
  --list-inactiveSelectionBackground: #303B50;
  --list-inactiveSelectionForeground: #D5D9E2;
  --panel-background: #1C212E;
  --panel-border: #1A1F2E;
  --pickerGroup-foreground: #FFE792;
  --scrollbar-shadow: #11141a11;
  --scrollbarSlider-activeBackground: #ffffff22;
  --scrollbarSlider-background: #ffffff11;
  --scrollbarSlider-hoverBackground: #ffffff22;
  --sideBar-background: #1C212E;
  --sideBarSectionHeader-background: #141820;
  --sideBarSectionHeader-foreground: #D5D9E2;
  --sideBarTitle-foreground: #f44747;
  --statusBar-background: #212836;
  --statusBar-border: #1A1F2E;
  --statusBar-foreground: #818CA6;
  --statusBar-noFolderBackground: #212836;
  --tab-activeBackground: #212836;
  --tab-activeBorder: #f44747;
  --tab-border: #1C212E;
  --tab-inactiveBackground: #212836;
  --tab-inactiveForeground: #818CA6;
  --tab-unfocusedInactiveForeground: #818CA6;
  --terminal-background: #1C212E;
  --titleBar-activeBackground: #1C212E;
  --titleBar-activeForeground: #818CA6;
  --titleBar-inactiveBackground: #1C212E;
  --titleBar-inactiveForeground: #818CA6;
  --widget-shadow: #11141ab3;

  /* application vars */
  --cyc-font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  --cyc-background-gradient: linear-gradient(136deg, #27a0b0 0%, #5477d4 52%, #a85dff 100%);
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--cyc-font-family);
  margin: 0;
  background-image: var(--cyc-background-gradient);
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.app {
  flex: 1;
}

.loader {
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 3;
  background-image: var(--cyc-background-gradient);
}

.loading .loader,
.loading .vscode-logo {
  opacity: 1;
}

.vscode-logo {
  opacity: 0;
  margin: auto;
  fill: #fff;
}
