:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 73px);
  box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  overflow: hidden;
}

/* ==========================================================================
   titleBar
   ========================================================================== */
.titleBar {
  height: 22px;
  background-color: var(--bg-titleBar);
}

.titleBar__buttons {
  display: flex;
  padding: 5px;
}

/* ==========================================================================
   window buttons
   ========================================================================== */
.winBtn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 4px;
  margin-right: 4px;
}

.winBtn--close {
  background-color: #FF6258;
}

.winBtn--minimize {
  background-color: #FFC12F;
}

.winBtn--maximize {
  background-color: #28CA42;
}

/* ==========================================================================
   Editor body (activityBar + sidebar + editor)
   ========================================================================== */
.body {
  display: flex;
  flex: 1;
}

.activityBar {
  width: 50px;
  background-color: var(--bg-activityBar);
}

.sidebar {
  width: 265px;
  background-color: var(--bg-sidebar);
}

.editor {
  flex: 1;
  background-color: var(--bg-editor);
}

/* ==========================================================================
   statusBar
   ========================================================================== */
.statusBar {
  height: 22px;
  background-color: var(--bg-editor);
  border-top: 1px solid var(--bg-dark);
}
