:host {
  display: block;
}

.icons {
  margin: 14px 0 0;
  padding: 0;
  list-style: none;
}

.icons li {
  text-align: center;
  min-height: 26px;
  margin-bottom: 24px;
  position: relative;
}

.icon {
  display: block;
  margin: auto;
  fill: var(--activityBar-foreground);
  opacity: 0.5;
}

.active {
  opacity: 1;
}

.badge {
  position: absolute;
  top: 12px;
  right: 7px;
  z-index: 1;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  background-color: var(--activityBarBadge-background);
  color: var(--activityBarBadge-foreground);
  font-size: 11px;
}