:host {
  display: block;
  height: 22px;
  box-sizing: border-box;
  font-size: 12px;
}

.border {
  height: 1px;
  background-color: var(--statusBar-border);
}

.left,
.right {
  height: 21px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.icon {
  fill: currentColor;
}

.git-icon {
  width: 13px;
  height: 13px;
  margin-right: 3px;
}

.grayscale {
  filter: grayscale(1);
  font-size: 10px;
  margin-left: 2px;
  opacity: 0.5;
}