:host([hidden]), [hidden] { display: none !important; }

:host {
  display: flex;
}

.preview {
  flex: 1;
  padding: 0 60px 60px;
  box-sizing: border-box;
}

.panel {
  width: 65px;
  background-color: #fff;
  position: relative;
  box-shadow: 12px 8px 80px 10px rgba(0, 0, 0, 0.22);
}

.site-title {
  font-family: Courier, monospace;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  word-spacing: -1ch;
  text-transform: lowercase;
  margin: 0;
  padding: 25px 0;
  display: flex;
  align-items: center;
}

.site-title__logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  fill: #fff;
}

.hover-info {
  font-size: 14px;
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.8);
}
