:host {
  display: flex;
  align-items: center;
  height: 22px;
  background-color: var(--bg-titleBar);
  position: relative;
}

.buttons {
  display: flex;
  padding: 5px;
  position: absolute;
  left: 0;
}

.winBtn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 4px;
  margin-right: 4px;
}

.winBtn--close {
  background-color: #FF6258;
}

.winBtn--minimize {
  background-color: #FFC12F;
}

.winBtn--maximize {
  background-color: #28CA42;
}

.title {
  flex: 1;
  font-size: 12px;
  font-weight: 500;
  color: #818CA7;
  text-align: center;
  line-height: 22px;
  cursor: default;
}
