.form-actions {
  padding: 15px 0 20px;
  text-align: center;
}

.btn {
  padding: 0;
  margin: 0 0 10px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.5;
  cursor: default;
}

.btn:active {
  position: relative;
  top: 1px;
}

.icon-site-logo {
  fill: #fff;
  margin: 20px auto 10px;
}

.icon-eyedroper {
  width: 20px;
  height: 20px;
}