:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 73px);
  box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.2);
}

/* ==========================================================================
   Editor body (activityBar + sidebar + editor)
   ========================================================================== */
.body {
  display: flex;
  flex: 1;
}

.activityBar {
  width: 50px;
  background-color: var(--activityBar-background);
}

.sidebar {
  width: 265px;
  background-color: var(--sideBar-background);
}

.editor {
  flex: 1;
  background-color: var(--editor-background);
}

.titleBar {
  background-color: var(--titleBar-activeBackground);
  color: var(--titleBar-activeForeground);
}

/* ==========================================================================
   statusBar
   ========================================================================== */
.statusBar {
  background-color: var(--statusBar-background);
  color: var(--statusBar-foreground);
  border-radius: 0 0 5px 5px;
}
