:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 73px);
  box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  overflow: hidden;
}



/* ==========================================================================
   Editor body (activityBar + sidebar + editor)
   ========================================================================== */
.body {
  display: flex;
  flex: 1;
}

.activityBar {
  width: 50px;
  background-color: var(--bg-activityBar);
}

.sidebar {
  width: 265px;
  background-color: var(--bg-sidebar);
}

.editor {
  flex: 1;
  background-color: var(--bg-editor);
}

/* ==========================================================================
   statusBar
   ========================================================================== */
.statusBar {
  height: 22px;
  background-color: var(--bg-editor);
  border-top: 1px solid var(--bg-dark);
}
